{% extends 'quest/base.html' %}
{% block title %}Output{% endblock %}
{% block body%}
    <div class="container-fluid" >
    <h3>Questions:</h3>
        <form action="{% url 'quest:final' %}" method="post">
        {% csrf_token %}
        {% for que in ques %}
            <pre style="font-size: 15px"><input type="checkbox" name="text" value="{{que}}" > &nbsp <div id="edit1" >{{ que }}</div1></pre>
        {% endfor %}
        <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
{% endblock %}
